<div class="row">
  <div class="col-12 section-heading text-left">
    <h1>Teaching</h1>
    <p>(selected&#8212;refer to my CV for the full list)</p>
  </div>
  <div class="col-12">
      <div class="row justify-content-left">
        <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
          <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
          <span class="project-title">
            <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">Geodata Management (BSc)</a>
          </span>
          <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2021/22 // HafenCity University Hamburg</p>
          <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, SQL/Python tutorial (online course)</p>
        </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">Geodata Analysis (BSc)</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2020-2022 // HafenCity University Hamburg</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, QGIS tutorial (online course)</p>
      </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">Data Visualization (MSc)</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2019-2020 // Freie Universität Berlin, Cluster of Excellence "Matters of Activity"</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, tutorial (Onsite course, online block course, workshop)</p>
      </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">Visual Analytics (MSc)</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2017 // École Centrale Paris (ECP)</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Guest lecture & Tableau tutorial</p>
      </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">Software Technology (BSc)</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2014/15 // HafenCity University Hamburg</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, Java tutorial</p>
      </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">GIS Programming (ERASMUS)</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">March 2014 // Universidad Politécnica de Madrid (UPM)</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, Java & GIS tutorial (block course)</p>
      </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">GIS Programming</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2012-2013 // HafenCity University Hamburg</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, tutorial</p>
      </div>
      <div class="col-lg-12" style="margin-bottom: .5rem;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <i class="fas fa-chalkboard pub-icon" aria-hidden="true"></i>
        <span class="project-title">
          <a href="" target="_blank" rel="noopener" itemprop="url" style="pointer-events: none;">Data modeling and -analysis</a>
        </span>
        <p class="project-summary" style="font-style: oblique;margin-bottom: 0px;font-size: 0.8rem;">2012-2014 // HafenCity University Hamburg</p>
        <p class="project-summary" style="font-style: oblique;font-size: 0.8rem;">Concept, lecture, tutorial</p>
      </div>
    </div>
  </div>
</div>
